<h1>Register</h1>
<form action="/register" method="POST">
    <div>
        <label for="username">Name</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="fname" required>
    </div>
    <div>
        <label for="sname">Last Name</label>
        <input type="text" id="lname" name="lname" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="vpassword">Verify Password</label>
        <input type="password" id="vpassword" name="vpassword" required>
    </div>
    <button type="submit">Register</button>
</form>
<a href="/login">Login</a>